main: 
  label: '{{ gitlab_ldap_label }}'
  host: '{{ gitlab_ldap_host }}'
  port: {{ gitlab_ldap_port }}
  uid: '{{ gitlab_ldap_uid }}'
  method: 'tls'
  bind_dn: '{{ gitlab_ldap_bind_dn }}'
  password: '{{ gitlab_ldap_password }}'
  encryption: '{{ gitlab_ldap_method}}'
  base: '{{ gitlab_ldap_base }}'
  verify_certificates: false
  attributes:
    username: ['uid']
    email: ['mail']
    name: 'displayName'
    first_name: 'givenName'
    last_name: 'sn'